<p><strong>Title:</strong> ${{productInfo.title}}</p>
<img src="{{productInfo.imgUrl}}" alt="productInfo.title" style="max-width: 250px;">
            <p><strong>Category Name:</strong> ${{productInfo.categoryName}}</p>
            <p><strong>List Price:</strong> $${{productInfo.listPrice}}</p>
            <p><strong>Price:</strong> $${{productInfo.price}}</p>
            <p><strong>Is Best Seller:</strong> ${{productInfo.isBestSeller}}</p>